*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --pink:rgb(253, 26, 64);
    --darkpink:rgb(187, 23, 50);
    --lightpink:rgb(250, 127, 148);
    --dark:rgb(37, 37, 37);
}

body{
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--pink);
    padding: .5rem 1rem 0rem 1rem;
    z-index: 1000;
    position: fixed;
    width: 100%;
    background: black;
}

.nav h1{
    font-size: 55px;
    text-decoration: underline;
    padding-bottom: 1rem;
    padding-left:1rem ;
}

.nav h1 span{
    color: var(--pink);
    font-size: 65px;
    text-decoration: none;
}

.list{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.line{
    border-right: solid 2px var(--pink);
    height: 3.5rem;

}

.nav .list ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav .list ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav .list ul li a:hover{
    color: var(--pink);
    text-decoration: underline;
    text-underline-offset: 10px;
}

button{
    background: var(--pink);
    padding: .5rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    height: 3.5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover{
    background: var(--darkpink);
    transform: scale(1.1);
}

button:active{
    background-color: var(--lightpink);
}

.products img{
    width: 100%;
    position: relative;
    margin-top: -15rem;
}

.products .product-overlay{
    width: 100%;
    background: white;

}

.products-head h1{
    position: absolute;
    margin-top: -55rem;
    margin-left: 34rem;
    text-align: center;
    font-size: 180px;
    text-shadow: 2px 2px 4px black;
}

.product-list{
    position: absolute;
    width: 100%;
    background:rgba(0, 0, 0, 0.589);
    height: fit-content;
    margin-top: -10rem;
}

.product-list .products-frame{
    width: 90%;
    margin: 0 auto;
}

.product-list .products-frame .product-slider {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure only 3 items are visible */
}

.product-list .products-frame .product-category {
    display: flex;
    gap: 3rem;
    transition: transform 0.4s ease-in-out;
    width: max-content;
}

.prev{
    position: absolute;
    top: 50%;
    transform: translateY();
    background-color: black;
    color: var(--pink);
    height: 5rem;
    border: solid 2px;
    padding: 10px 20px;
    font-size: 54px;
    cursor: pointer;
    z-index: 10;
    left: 10px;
}

.prev:hover{
    background-color: black;
    box-shadow: 2px 2px 4px var(--lightpink);
}

.next{
    position: absolute;
    top: 50%;
    transform: translateY();
    background-color: black;
    color: var(--pink);
    height: 5rem;
    border: solid 2px;
    padding: 10px 20px;
    font-size: 54px;
    cursor: pointer;
    z-index: 10;
    right: 10px;
}

.next:hover{
    background-color: black;
    box-shadow: 2px 2px 4px var(--lightpink);
}

.product-list .products-frame .product-head{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product-list .products-frame h2{
    font-size: 120px;
    text-align: center;
}

.products-frame .product-img{
    border: solid .1px;
    width: 31rem;
    padding: 2rem;
    justify-items: center;
    text-align: center;
    border-radius: 12px;
}

.products-frame .product-img:hover{
    box-shadow: 4px 4px 4px white;
}

.products-frame .product-img .img-box{
    width: 25rem;
    height: 25rem;
    overflow: hidden;
}

.products-frame .product-img .product-img-name{
    padding-top: 1rem;
}

.products-frame .product-img .product-img-name h3{
    font-size: 2rem;
}

.products-frame .product-img .product-img-name p{
    font-size: 20px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: solid .1px;
    margin-top: 1rem;
    border-top: solid .1px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.products-frame .product-img img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.products-frame .product-img img:hover{
    transform: scale(1.1);
}

